<h5>Selected {{ tagItemIdentiferPlural ? tagItemIdentiferPlural : 'Tags' }}</h5>
<ul class="selected-tag-list">
	<li *ngFor="let tag of selectedTags">
		<i (click)="toggleTag(tag)" class="fa fa-times"></i>
		{{ tag.display }}
	</li>
</ul>
<h5>Available {{ tagItemIdentiferPlural ? tagItemIdentiferPlural : 'Tags' }}</h5>
<div class="filter-input">
	<label for="filterTextInput">Filter Tags in List</label>
	<input name="filterTextInput" type="text" placeholder="Filter Tags in List" [(ngModel)]="filterText">
</div>
<ul class="possible-tag-list">
	<li *ngFor="let tag of possibleTags | tagFilter:filterText" (click)="toggleTag(tag)">
		<i class="{{ iconClasses.iconPrefix }}" [ngClass]="setIconNgClassName(tag)"></i>
		{{ tag.display }}
	</li>
</ul>
