<h1>Tag Select with Template Ref Demo</h1>
<div class="container">
	<ats-tag-select-tr [tagsToSelect]="myPossibleTags" [tagMapping]="myTagMapping" (selectedTagsUpdated)="savedSelectedTags = $event">
		<ng-template let-selectedTags="selectedTags" let-possibleTags="possibleTags" let-fns="fns">
			<app-selected-tag-list [selectedTags]="selectedTags" (emitRemoveTag)="fns.toggleTag($event)"></app-selected-tag-list>
			<app-possible-tag-list (emitTagSelected)="fns.toggleTag($event)" [possibleTags]="possibleTags" [selectedTags]="selectedTags"></app-possible-tag-list>
		</ng-template>
	</ats-tag-select-tr>
</div>
<button (click)="showSelectedTags()" class="btn btn-danger">Show Saved Selected Tags</button>
